
@media (max-width:850px) {

    .login-sec{
        width:100%;
        margin:100px;
        margin-left:0px;
        height:600px;
        border-radius:60px;
        background: linear-gradient(to bottom,rgb(100,0,50),rgb(0,50,100));
        float:left;
        
    }

    .login-sec table tr td{
        font-size: 20px;
        padding:20px;
        color:goldenrod;
    }


    .form-sec{
        width:100%;
        margin-top: 50px;
        margin-left:0px;
        height:720px;
        border-radius:60px;
        background: linear-gradient(to bottom,rgb(100,0,50),rgb(0,50,100));
        float:left;
    }
}


@media (max-width:375px) {

    .login-sec{
        width:150%;
        margin:100px;
        margin-left:0px;
        height:600px;
        border-radius:60px;
        background: linear-gradient(to bottom,rgb(100,0,50),rgb(0,50,100));
        float:left;
        
    }

    .login-sec table tr td{
        font-size: 20px;
        padding:20px;
        color:goldenrod;
    }


    .form-sec{
        width:150%;
        margin-top: 50px;
        margin-left:0px;
        height:720px;
        border-radius:60px;
        background: linear-gradient(to bottom,rgb(100,0,50),rgb(0,50,100));
        float:left;
    }
}
